# Build results
bin/
obj/

# Test results
TestResults.xml

# Generated documentation
docs/output/

# NuGet
nuget/*.nupkg
packages/

# Paket
.paket/paket.exe

# FAKE
.fake/

# User-specific files (VisualStudio)
*.sln.docstates
*.sln.iml
*.suo
*.user
*.userosscache
.vs/

# User-specific files (XamarinStudio + MonoDevelop)
*.userprefs

# IntelliJ Idea
.idea/
