framework: net45
source https://www.nuget.org/api/v2

nuget FSharp.Control.AsyncSeq
nuget MongoDB.Driver.Core

// for building the project
nuget FAKE
nuget SourceLink.Fake

// for executing tests
nuget NUnit ~> 2
nuget NUnit.Runners ~> 2
nuget Unquote

// for generating documentation
nuget FSharp.Formatting